<script>
  import StoryContainer from '../StoryContainer.svelte';
  import {
    Button,
    Card,
    CardBody,
    CardTitle,
    CardSubtitle,
    CardText,
  } from '../../../src';
</script>

<style>
  #SampleCard {
    width: 20rem;
  }
</style>

<StoryContainer>
  <Card id='SampleCard' on:click={() => console.log('blah')}>
    <img src="https://picsum.photos/768" alt="Card example image">
    <CardBody>
      <CardTitle>My awesome Paper card!</CardTitle>
      <CardSubtitle>Nice looking subtitle.</CardSubtitle>
      <CardText>
        Notice that the card width in this example have been set to 20rem, otherwise it will try to fill the current container/row where the card is.
      </CardText>
    </CardBody>
    <Button>Let me go here!</Button>
  </Card>
</StoryContainer>
