<script>
  import StoryContainer from '../StoryContainer.svelte';
  import {Button} from '../../../src';

  const colors = [
    'Primary',
    'Secondary',
    'Success',
    'Warning',
    'Danger',
  ];

  const coloredButtons = colors.map(color => ({
    color: color.toLowerCase(),
    text: color,
  }));
</script>

<style>
  .btn-story-section {
    margin-bottom: 2rem;
  }
</style>

<StoryContainer>
  <div class='btn-story-section'>
    <Button size='large'>Large</Button>
    <Button>Default</Button>
    <Button size='small'>Small</Button>
    <Button disabled>Disabled</Button>
  </div>
  <div class='btn-story-section'>
    <Button block>Block Level</Button>
  </div>
  {#each coloredButtons as {color, text}}
    <div class='btn-story-section'>
      <Button {color}>
        {text}
      </Button>
      <Button {color} disabled>
        {text} - Disabled
      </Button>
    </div>
  {/each}
</StoryContainer>
