<script>
  import classnames from 'classnames';
  export let size;
  export let block;
  export let color;
  export let disabled;

  $: buttonClass = classnames(
    color && `btn-${color}`,
    size && `btn-${size}`,
    {
      'btn-block': block,
      disabled,
    }
  );
</script>

<button class={buttonClass}>
  <slot></slot>
</button>