<script>
  import StoryContainer from '../StoryContainer.svelte';
  import {Alert} from '../../../src';
  export let dismissible;

  const colors = [
    'Primary',
    'Secondary',
    'Success',
    'Warning',
    'Danger',
  ];

  const alerts = colors.map(color => ({
    id: `${color}Alert`,
    color: color.toLowerCase(),
    text: `Alert - ${color}`
  }));
</script>

<StoryContainer>
  {#each alerts as {id, color, text}}
    <Alert {id} {color} {dismissible}>
      {text}
    </Alert>
  {/each}
</StoryContainer>
