<script>
  import classnames from 'classnames';
  export let id;
  export let color = 'primary';
  export let dismissible;

  $: alertClass = classnames('alert', `alert-${color}`, {dismissible});
</script>

<input class='alert-state' {id} type='checkbox'>
<div class={alertClass}>
  <slot></slot>
  {#if dismissible}
    <label class='btn-close' for={id}>X</label>
  {/if}
</div>